<html>
<head>
    <title>Shoe Network</title>
</head>
<body>
    <div id ="wrapper">
        <h1>{{ store.getName }}</h1>

        {% if brands is not empty %}
            <p>Here are the brands for this Brand:</p>

                {% for brand in brands %}
                    <h4><a href="/store/{{ brand.getId }}">{{ brand.getName }}</a></h4>
                {% endfor %}

        {% endif %}

        <h4>Add a brand to this store:</h4>

        <form action='/store/{{ store.getId }}' method='post'>
            <input id="store_id" name="store_id" type="hidden" value="{{ store.getId }}">
            <label for="brand_id">Select a brand</label>
            <select id='brand_id' name='brand_id' type='text'>
                {% if brands2 is not empty %}
                  {% for brand in brands2 %}
                    <option value="{{ brand.getId }}"> {{ brand.getName }} </option>
                  {% endfor %}
                {% endif %}  

            </select>
            <button type='submit' class="btn btn-default">Add Brand</button>
        </form>

        <button type="button" class="btn btn-default"><a href='/stores'>See All Brands</a></button>
        <br>
        <button type="button" class="btn btn-home"><a href='/'>Home</a></button>
    </div>
</body>
</html>
